seed: 2025
device: cuda:1

components:
  env: game2048
  agent: dqn
  model: mlp
  trainer: dqn

paths:
  env: configs/envs/${components.env}.yaml
  agent: configs/agents/${components.agent}.yaml
  model: configs/models/${components.model}.yaml
  trainer: configs/trainers/${components.trainer}.yaml
